@using System.Web.Optimization
@model dynamic

<!DOCTYPE html>
<html ng-app="AngularDojo" >
    <head>
        <title>Lounaslippuvelat</title>
        @Styles.Render("~/css")
    </head>
    <body>
        <div class="container" ng-controller="LunchController">
            <div class="hero-unit">
                <h1>AngularJs Dojo!</h1>
                <p>Tässä esimerkki appi, joka on tehty AngularJS:llä</p>
            </div>
            <hr/>
            <div class="row">
                <div class="span12">
                    <h2>Listaa lounaslippuvelat</h2>
                    <form name="loanerForm" ng-submit="addLoaner()" class="form-inline" novalidate>
                        <label class="control-label" for="loanerName">Nimi:</label>
                        <input id="loanerName" type="text" name="loanerName" ng-model="loanerName" typeahead="name for name in getLoanerNames() | filter:$viewValue"  class="input-small"
                               required />
                         <span ng-show="loanerForm.$invalid && loanerForm.$dirty" class="text-error">Pakollinen!</span>
                        <input type="submit" value="Lisää" class="btn" ng-disabled="loanerForm.$invalid"  />
                    </form>
                    <ul>
                        <li ng-repeat="loaner in loaners">
                            {{loaner.name}} - {{loaner.vouchers}} 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @Scripts.Render("~/js")
    </body>
</html>