@using System.Web.Optimization
@model dynamic

<!DOCTYPE html>
<html ng-app="AngularDojo" >
    <head>
        <title>Lunch voucher loaner app</title>
        @Styles.Render("~/css")
    </head>
    <body>
        <div class="container">
            <div class="hero-unit">
                <h1>AngularJs Dojo!</h1>
                <p>Tässä esimerkki appi, joka on tehty AngularJS:llä</p>
            </div>
            <div class="row">
                <div class="span12">
                    <h2>Listaa lounaslippuvelat</h2>
                    <p>
                        <div ng-controller="LunchController">
                            <input type="text" ng-model="loanerName" typeahead="name for name in getLoanerNames() | filter:$viewValue" />
                            <input type="button" value="Lisää" ng-click="addLoaner()" />
                            <ul>
                                <li ng-repeat="loaner in loaners">
                                    {{loaner.name}} - {{loaner.vouchers}} 
                                </li>
                            </ul>
                        </div></p>
                </div>
            </div>
            
        </div>
        @Scripts.Render("~/js")
    </body>
</html>